<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
<body bgcolor="cyan">
    <form action="" method="post">
        <center>
            <h1>Entre com a informação do carro</h1><br>
            Id <input type="text" name="fid"/><br>
            Name <input type="text" name="fname"/><br>
            Model <input type="text" name="fmodel"/><br>
            Year <input type="text" name="fyear"/><br>
            <input type="submit"/> 
        </center>
    </form>
</body>
</html>